.section {
  background: #f7f7f7;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

/* LEFT */
.manager {
  background: #7d7d7d;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.managerPhoto {
  width: 340px;
}

.managerPhoto img {
  width: 101%;
}

.managerData {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.manager h3 {
  font-size: 36px;
  margin-bottom: 8px;
}

.position {
  font-size: 20px;
  opacity: 0.9;
  margin-bottom: 24px;
}

.contacts p {
  margin-bottom: 8px;
  font-size: 18px;
}

.contacts a {
  color: white;
  text-decoration: none;
}

/* RIGHT */
.formBlock {
  background: #ffffff;
  padding: 32px;
}

.formBlock h2 {
  font-size: 32px;
  margin-bottom: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form input,
.form textarea {
  padding: 14px;
  font-size: 16px;
  border: 1px solid #ccc;
}

.form button {
  margin-top: 16px;
  padding: 14px;
  font-size: 24px;
  border: none;
  cursor: pointer;
  background: #000;
  color: #fff;
}

@media (max-width: 1024px) {
  /* .manager {
    max-width: 468px;
  } */

  .managerPhoto {
    display: none;
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 0px;
  }

  .manager {
    padding: 40px 20px;
  }

  .formBlock {
    padding: 24px 12px;
  }

  .manager h3 {
    font-size: 28px;
  }

  .formBlock h2 {
    font-size: 26px;
    text-align: center;
  }
}
