.section {
  background: #f7f7f7;
}

.mainSlider {
  width: 100%;
  background: #e5e5e5;
}

.mainSlider img {
  width: 100%;
  max-height: 100%;
  object-fit: contain;
}

:global(.swiper-slide) {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* thumbnails */
.thumbs {
  margin-top: 16px;
}

.thumbs img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
  opacity: 0.6;
}

.thumbs :global(.swiper-slide-thumb-active) img {
  opacity: 1;
  outline: 2px solid #000;
}

@media (max-width: 1024px) {
  .mainSlider {
    height: auto;
    max-height: 60vh;
  }

  .mainSlider img {
    height: auto;
    max-height: 60vh;
  }
}

@media (max-width: 768px) {
  .mainSlider {
    height: auto;
    max-height: 60vh;
  }

  .mainSlider img {
    height: auto;
    max-height: 60vh;
  }

  .section-title {
    font-size: 26px;
  }
}
