/* обгортка SVG */
.svgWrapper {
  position: relative;
  width: 100%;
}

/* сам SVG */
.svg {
  width: 100%;
  height: auto;
  display: block; /* дуже важливо */
  /* border-radius: 50px; */
}

/* клікабельні будинки */
.house {
  fill: transparent;
  stroke: rgba(255, 255, 255, 0.5); /* біла напівпрозора обводка */
  stroke-width: 10; /* товщина обводки */
  cursor: pointer;
  transition: fill 0.2s ease;
}

.house:hover {
  fill: rgba(255, 255, 255, 0.6);
}

.house.active {
  stroke: rgba(255, 255, 255, 0.9);
  fill: rgba(255, 255, 255, 0.6);
  transition: stroke 0.5s, fill 0.5s;
}

/* інформаційний блок */
.info {
  margin-top: 32px;
  text-align: center;
  font-size: 18px;
}

.tooltip {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.85);
  padding: 12px 24px;
  border-radius: 12px;
  font-size: 18px;
  color: #000;
  text-align: center;
  max-width: 60%;
  line-height: 1.4;
  pointer-events: none;
  white-space: nowrap; /* щоб текст був в один рядок, якщо поміститься */
  overflow: hidden;
  text-overflow: ellipsis; /* обрізає зайвий текст */
}

/* Адаптив для екранів ≤768px */
@media (max-width: 768px) {
  .tooltip {
    bottom: 10px; /* трохи піднято від низу */
    padding: 6px 12px;
    font-size: 12px; /* компактний шрифт */
    max-width: 80%; /* трохи ширше, щоб вмістити текст в 1-2 рядки */
    line-height: 1.3;
    white-space: normal; /* дозволяє перенос рядків */
    display: -webkit-box;
    -webkit-line-clamp: 2; /* максимум 2 рядки */
    -webkit-box-orient: vertical;
    overflow: hidden; /* обрізаємо зайве */
    text-align: center;
  }
}
